nav {
  background-color: #444343; 
  display: flex;
  border-style: hidden;
  padding: 0%;
  width: 100%;
}


ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  float: left;
}


li a {
  display: flex;
  color: rgb(255, 255, 255); 
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}


li a:hover {
  background-color: #555; 
}